$primary-color: #fc472f;
$background-color: #151515;
$text-color: #fff;
$black: #000;
// $primary-color: #d22d16;
// $background-color: #082340;
// $text-color: #fff;
// $black: #161b7f;

$yellow: rgb(255, 215, 0);
$blue: #2e61da;
$orange: #f36601;
$grey: grey;
