@import "../abstracts/variables";
@import "../abstracts/mixins";

.home {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  @include respond(tp) {
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    width: 100vw;
    height: 100vh;
  }

  .section {
    min-width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    background-color: $background-color;
    color: $text-color;
    scroll-snap-align: start;

    @include respond(tp) {
      scroll-snap-align: center;
    }
  }
}
