@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&family=Work+Sans:wght@200;300;400;500;600;700&display=swap");
/*
0 - 300px: small phone
300px - 600px: phone
600px - 900px: Tablet portrait
900px - 1200px: Tablet landscape
1200px - 1800px: normal styles
1800px +: Big desktop
*/
/* 
$breakpoint argument choices:
-phone : p
-mobile-phone: mp
-tab-port: tp
-tab-land: tl
-big-desktop: bd
*/
.home {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
@media (max-width: 56.25em) {
  .home {
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    width: 100vw;
    height: 100vh;
  }
}
.home .section {
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  background-color: #151515;
  color: #fff;
  scroll-snap-align: start;
}
@media (max-width: 56.25em) {
  .home .section {
    scroll-snap-align: center;
  }
}

/*
0 - 300px: small phone
300px - 600px: phone
600px - 900px: Tablet portrait
900px - 1200px: Tablet landscape
1200px - 1800px: normal styles
1800px +: Big desktop
*/
/* 
$breakpoint argument choices:
-phone : p
-mobile-phone: mp
-tab-port: tp
-tab-land: tl
-big-desktop: bd
*/
.about {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 56.25em) {
  .about {
    height: 100vh;
  }
}
@media (max-width: 500px) {
  .about {
    flex-direction: column;
  }
}
.about .author {
  width: 40%;
}
@media (max-width: 56.25em) {
  .about .author {
    height: 100%;
  }
}
@media (max-width: 500px) {
  .about .author {
    width: 100%;
    height: 100%;
    position: relative;
  }
}
.about .author .img-wrapper {
  width: 100%;
  height: 100%;
  background: #050053;
  background: linear-gradient(333deg, #050053 9%, #7e2394 68%, #f96363 100%);
}
.about .author .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.4;
}
@media (max-width: 500px) {
  .about .author .img-wrapper img {
    object-position: top;
  }
}
.about .content {
  width: 50%;
}
@media (max-width: 500px) {
  .about .content {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.about .paragraph-wrapper {
  width: 80%;
  margin: 3.4rem 0;
}
.about .paragraph-wrapper p {
  margin: 2.4rem 0;
}
.about .social-media-wrapper {
  display: flex;
  align-items: center;
  font-size: 2rem;
}
.about .icon {
  background-color: #fff;
  color: #000;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  margin-right: 1rem;
  cursor: pointer;
}
.about .icon:hover {
  color: #fff;
}
.about .icon:nth-child(1):hover {
  background-color: #2e61da;
}
.about .icon:nth-child(2):hover {
  background-color: #f36601;
}
.about .icon:nth-child(3):hover {
  border-bottom-right-radius: 0.8rem;
  background-color: gold;
}

/*
0 - 300px: small phone
300px - 600px: phone
600px - 900px: Tablet portrait
900px - 1200px: Tablet landscape
1200px - 1800px: normal styles
1800px +: Big desktop
*/
/* 
$breakpoint argument choices:
-phone : p
-mobile-phone: mp
-tab-port: tp
-tab-land: tl
-big-desktop: bd
*/
.landing {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 56.25em) {
  .landing {
    height: 100vh;
  }
}
.landing .technology-used {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 2rem;
  margin: 1rem 0;
}
.landing .scroll-down {
  display: none;
}
@media (max-width: 56.25em) {
  .landing .scroll-down {
    display: block;
  }
}
@media (max-width: 56.25em) {
  .landing .scroll-right {
    display: none;
  }
}

/*
0 - 300px: small phone
300px - 600px: phone
600px - 900px: Tablet portrait
900px - 1200px: Tablet landscape
1200px - 1800px: normal styles
1800px +: Big desktop
*/
/* 
$breakpoint argument choices:
-phone : p
-mobile-phone: mp
-tab-port: tp
-tab-land: tl
-big-desktop: bd
*/
.project {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media (max-width: 56.25em) {
  .project {
    height: 100vh;
  }
}
@media (max-width: 500px) {
  .project {
    flex-direction: column;
  }
}
.project .project-head {
  width: 20%;
  height: 100%;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 500px) {
  .project .project-head {
    flex-direction: row;
    height: 10%;
    width: 100%;
  }
  .project .project-head h3:first-child {
    margin-right: 6rem;
  }
}
.project .projects {
  width: 60%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}
@media (max-width: 500px) {
  .project .projects {
    flex-direction: row;
    width: 100%;
  }
}

.cards {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(20rem, 1fr));
  gap: 2rem;
  padding: 0.8rem;
}
.cards .card {
  height: 30rem;
  border-radius: 0.6rem;
  background-size: cover;
  background-position: center;
  transition: transform 0.1s ease-in-out;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0.1rem 0.1rem 0.8rem #000;
  border: 0.1rem solid #333;
  padding: 1rem;
}
.cards .card.light {
  box-shadow: 0.1rem 0.1rem 0.8rem #3778c2 !important;
  border: none !important;
}
.cards .card.light .btn {
  border: none !important;
  margin-bottom: 0.1rem;
}
.cards .card .content {
  width: 100%;
  height: 16%;
  color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: bolder;
  border-radius: 0.6rem;
}
.cards .card .img-wrapper {
  border-radius: 0.6rem;
  width: 100%;
  height: 80%;
  background: #050053;
  background: linear-gradient(333deg, #050053 9%, #7e2394 68%, #f96363 100%);
}
.cards .card .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.6rem;
  opacity: 0.4;
}
.cards .card .btn-grps {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.cards .card .btn-grps .btn {
  background-color: #151515;
  border: 0.1rem solid #444;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.cards .card .btn-grps .btn:nth-child(1) {
  border-top-right-radius: 0.8rem;
}
.cards .card .btn-grps .btn:nth-child(1):hover {
  background-color: #2e61da;
}
.cards .card .btn-grps .btn:nth-child(2):hover {
  background-color: #f36601;
}
.cards .card .btn-grps .btn:nth-child(3):hover {
  border-bottom-right-radius: 0.8rem;
  background-color: gold;
}

/*
0 - 300px: small phone
300px - 600px: phone
600px - 900px: Tablet portrait
900px - 1200px: Tablet landscape
1200px - 1800px: normal styles
1800px +: Big desktop
*/
/* 
$breakpoint argument choices:
-phone : p
-mobile-phone: mp
-tab-port: tp
-tab-land: tl
-big-desktop: bd
*/
.btn {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
.btn--scroll-right {
  font-size: 1.2rem;
  padding: 0.8rem;
  position: absolute;
  bottom: 2.4rem;
  border-radius: 0.8rem;
  color: #fff;
  border: 0.1rem solid #fff;
  padding: 0.4rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn--scroll-right span {
  margin-right: 0.8rem;
}
.btn--circle {
  color: #fff;
  font-size: 2rem;
}
.btn--circle:hover {
  color: #d22d16;
}

/*
0 - 300px: small phone
300px - 600px: phone
600px - 900px: Tablet portrait
900px - 1200px: Tablet landscape
1200px - 1800px: normal styles
1800px +: Big desktop
*/
/* 
$breakpoint argument choices:
-phone : p
-mobile-phone: mp
-tab-port: tp
-tab-land: tl
-big-desktop: bd
*/
.header {
  position: fixed;
  top: 4rem;
  left: 4rem;
  z-index: 1001;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .nav-icon {
  font-size: 3rem;
  display: flex;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}
.header .nav-icon:hover {
  color: #d22d16;
}
.header .nav-icon.active {
  color: #d22d16;
  transform: rotate(90deg);
  transition: transform 0.2s ease-out;
}
.header .nav-icon.active + ul {
  display: flex;
  flex-direction: column;
  transition: opacity 0.2s ease-out 0.2s;
  opacity: 1;
}
.header ul {
  margin-top: 0.8rem;
  position: absolute;
  opacity: 0;
  list-style: none;
  transition: opacity 0.2s ease-out 0.2s;
}
.header ul li {
  font-size: 1.4rem;
  width: 10rem;
  height: 4rem;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header ul li:hover {
  color: #d22d16;
}
.header .bulb {
  color: #151515;
  width: 2.8rem;
  height: 2.8rem;
  font-size: 1.8rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  margin-top: 0;
  padding-top: 0;
  align-items: center;
  justify-content: center;
  margin-left: 1.2rem;
  cursor: pointer;
}
.header .bulb:hover {
  color: #3778c2;
}
.header .bulb.light {
  color: #3778c2;
}
.header .bulb.light:hover {
  color: #151515;
}

/*
0 - 300px: small phone
300px - 600px: phone
600px - 900px: Tablet portrait
900px - 1200px: Tablet landscape
1200px - 1800px: normal styles
1800px +: Big desktop
*/
/* 
$breakpoint argument choices:
-phone : p
-mobile-phone: mp
-tab-port: tp
-tab-land: tl
-big-desktop: bd
*/
.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(44, 43, 43, 0.9);
  z-index: 10002;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal-wrapper .modal-header {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  color: #fff;
  margin-bottom: 2rem;
}
.modal-wrapper .modal-header .project-title {
  font-size: 2.5rem;
  font-weight: bold;
}
.modal-wrapper .modal {
  width: 60%;
  background-color: #151515;
  padding: 1rem;
  border-radius: 0.4rem;
  font-size: 2rem;
  overflow: auto;
  box-shadow: 0.1rem 0.1rem 1rem #000;
}
.modal-wrapper .modal.light {
  background-color: #3778c2;
  box-shadow: 0.1rem 0.1rem 1rem rgba(44, 43, 43, 0.9);
}
@media (max-width: 75em) {
  .modal-wrapper .modal {
    width: 80%;
  }
}
.modal-wrapper .modal .slide-show {
  width: 100%;
  height: 30rem;
}
.modal-wrapper .modal .slide-show img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.modal-wrapper .modal .content {
  margin-top: 4rem;
  padding: 4rem;
}
.modal-wrapper .modal .content .row {
  display: flex;
}
.modal-wrapper .modal .content .row:not(:last-child) {
  margin-bottom: 2rem;
}
.modal-wrapper .modal .content .row .label {
  font-weight: bold;
  width: 20%;
  margin-right: 2rem;
}
@media (max-width: 37.5em) {
  .modal-wrapper .modal .content .row .label {
    margin-right: 8rem;
  }
}
.modal-wrapper .modal .content .row .detail {
  width: 70%;
  line-height: 1.5;
}

/*
0 - 300px: small phone
300px - 600px: phone
600px - 900px: Tablet portrait
900px - 1200px: Tablet landscape
1200px - 1800px: normal styles
1800px +: Big desktop
*/
/* 
$breakpoint argument choices:
-phone : p
-mobile-phone: mp
-tab-port: tp
-tab-land: tl
-big-desktop: bd
*/
*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}
@media (max-width: 75em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 30%;
  }
}

body {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.heading--primary {
  color: #d22d16;
  font-size: 8rem;
}
.heading--project {
  color: #333;
  font-size: 2rem;
  cursor: pointer;
  margin: 24px 0;
  transition: all 0.2s ease-in-out;
}
.heading--project:hover {
  color: #fff;
  font-size: 3rem;
  transition: all 0.2s ease-in-out;
}
.heading--project.active {
  color: #fff;
  font-size: 3rem;
  transition: all 0.2s ease-in-out;
}

.paragraph--body {
  font-size: 2rem;
  line-height: 1.4;
}

/*
0 - 300px: small phone
300px - 600px: phone
600px - 900px: Tablet portrait
900px - 1200px: Tablet landscape
1200px - 1800px: normal styles
1800px +: Big desktop
*/
/* 
$breakpoint argument choices:
-phone : p
-mobile-phone: mp
-tab-port: tp
-tab-land: tl
-big-desktop: bd
*/
.horizontal-line {
  width: 20%;
  height: 0.2rem;
  background-color: #d22d16;
  margin: 2.4rem 0;
}

.link-default {
  color: #fff;
  text-decoration: noen;
}

/*# sourceMappingURL=index.css.map */
